/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

#id-wheel-popup-wrapper {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 100000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.6);
    align-items: center;
    justify-content: center;
}

.id-wheel-popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 90%;
    max-width: 450px;
    text-align: center;
    position: relative;
    border-radius: 10px;
}

.id-wheel-close-popup {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.id-wheel-close-popup:hover,
.id-wheel-close-popup:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

#id-wheel-canvas {
    cursor: pointer;
}
