.container {
  border: 1px solid var(--input-border-color);
  padding: 1.5rem;
  border-radius: 8px;
  margin-bottom: 2rem;
  background-color: var(--card-background-color);
  box-shadow: 0 2px 8px var(--shadow-color);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.input-group {
  display: flex;
  flex-wrap: wrap; /* Mobil uchun */
  gap: 10px;
}

.input-group input {
  flex-grow: 1;
  min-width: 200px; /* Kichik ekranlarda kenglikni saqlash */
}

.leads-list {
  list-style-type: none;
  padding: 0;
}

.lead-item {
  background-color: var(--input-background-color);
  border: 1px solid var(--input-border-color);
  border-radius: 4px;
  padding: 1rem;
  margin-bottom: 1rem;
}

.lead-item strong {
  color: var(--primary-color);
}

/* Mobilga Moslashtirish */
@media (max-width: 600px) {
  body {
    padding-top: 1rem;
  }

  #root {
    padding: 1rem;
  }

  .App {
    padding: 1.5rem;
  }

  .input-group {
    flex-direction: column;
  }

  .input-group input,
  .input-group button {
    width: 100%;
    box-sizing: border-box;
    margin-left: 0 !important;
  }
}
